@import url("../TopicList/TopicList.css");
.TopicItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 48px;
  text-decoration: none;
  color: #000;

  & h2 {
    font-size: var(--h1-font-size);
  }

  & span {
    font-size: var(--small-font-size);
  }
}
