.card
{
    width: 400px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(119, 111, 111);
    color:white;
    border-radius:10px ;
}
.card img{
    margin-top:30px;
}

#conteiner
{
    display: flex;
    justify-content: space-around;

}